<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class='smartphoneTopMargin'></div>
        <div class='smartphone'>
          <div class='agent'>
            <%= image_tag("agent.png", size: "38") %>
            <span style="padding-left: 5px;"><b>Lena</b></span>
          </div>

          <div class='screen'>
            <ul class='conversation'>
              <li class='him'><%=params[:welcomeMessage]%></li>
            </ul>
          </div>

          <%= form_tag user_sendMessage_path,remote: true do %>
          <div id="responseWrapper">

            <div class="quickResponseContainer" style="height: 45px;">
              <% @initialSuggestions.each do |suggestion| %>
                <%= button_tag suggestion, name: "quickResponse", class: 'quickResponse', value: suggestion %>
              <%end %>
            </div>
            <div id="sendWrapper">
              <%=text_field_tag "message_input_field", nil,placeholder: "Schreib mir etwas...",maxlength: 256,onkeyup: "textCounter(this,'counter',256);"%>
              <%=hidden_field_tag "messageContexts"%>
              <%=button_tag "name", id: "send_message_button" do%>Senden
              <%end%>
              <%end%>
              <%= javascript_include_tag "resizeView" %>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>